#base {
  position:absolute;
  z-index:0;
  width: 1280px;
  background-color:#403e40;
}
#u18 {
  position:absolute;
  left:2px;
  top:70px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:153px;
  width:1280px;
  height:854px;
  overflow:hidden;
  background-color:#403e40;

}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:854px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:#403e40;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
  background-color:#403e40;

}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:854px;
  font-size:48px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:854px;
}
#u21 {
  position:absolute;
  left:2px;
  top:419px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:854px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:854px;
  font-size:48px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:854px;
}
#u23 {
  position:absolute;
  left:2px;
  top:419px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:854px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:854px;
  font-size:48px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:854px;
}
#u25 {
  position:absolute;
  left:2px;
  top:419px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:1006px;
  width:1280px;
  height:684px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:684px;
}
#u27 {
  position:absolute;
  left:2px;
  top:334px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:1075px;
  width:774px;
  height:504px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:504px;
}
#u29 {
  position:absolute;
  left:2px;
  top:244px;
  width:770px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:861px;
  top:1039px;
  width:371px;
  height:424px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:424px;
}
#u31 {
  position:relative;
  word-wrap:break-word;
  font-style:normal;
  font-size:30px;
  font-family:'汉仪细简黑简', '汉仪细简黑简';
  margin-top:81px;
  color: #666666;
  top:0px;
  float: right;
  margin-right: 30px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 320px;
}
#u32 {
  position:absolute;
  left:68px;
  top:1173px;
  width:562px;
  height:336px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:20px;
  color:#999999;
  letter-spacing:100; 
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:336px;
}
.u33 {
  position:relative;
  left:0px;
  top:0px;
  width:562px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

#u34 {
  position:absolute;
  left:0px;
  top:1690px;
  width:1280px;
  height:58px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:58px;
}
#u35 {
  position:absolute;
  left:2px;
  top:21px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:553px;
  top:1705px;
  width:25px;
  height:32px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1072px;
  top:1700px;
  width:150px;
  height:38px;
}
#usubmit_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
}
#u39 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:43px;
  top:1707px;
  width:24px;
  height:31px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:31px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:84px;
  top:1708px;
  width:396px;
  height:30px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:30px;
  background-color:#1C1C1C;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43 {
  position:absolute;
  left:598px;
  top:1708px;
  width:363px;
  height:31px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:31px;
  background-color:#1C1C1C;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u44_div {
position:relative;
display:inline;
margin-left: 10px;
}
#u44_img {
/*   position:absolute;
left:0px;
top:0px; */
  width:14px;
  height:13px;
  cursor: pointer;
}
#u44_img.selected {
}
#u44.selected {
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u44_img.mouseDown {
}
#u44.mouseDown {
}
#u45 {
 top: 940px;
 position: absolute;
 margin-right: auto;
 margin-left: auto;
 text-align: center;
 width: 1280px;
 height:13px;
}
#u46 {
  position:absolute;
  left:666px;
  top:940px;
  width:14px;
  height:13px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u46_img.selected {
}
#u46.selected {
}
#u46_img.mouseOver {
}
#u46.mouseOver {
}
#u46_img.mouseDown {
}
#u46.mouseDown {
}
#u47 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:602px;
  top:940px;
  width:14px;
  height:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u48_img.selected {
}
#u48.selected {
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u48_img.mouseDown {
}
#u48.mouseDown {
}
#u49 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}        
.panel_state .prev_next{width: 40px;height: 60px;position: absolute;top: 350px;left: 50%;margin-left: -20px;}
.panel_state .prev,.panel_state .next{position:absolute;top: 0;z-index:1;width:40px;height:60px;border-radius: 5px;background:url('../../images/home/slider-arrow.png') #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.panel_state .prev{left: -625px;background-position:-166px 14px;}
.panel_state .prev:hover{background-position:-106px 14px;}
.panel_state .next{right: -625px;background-position:-48px 14px;}
.panel_state .next:hover{background-position:12px 14px;}
